.media-content {
  min-height: 180px;
}

.card {
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .product-name.title.is-3 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .product-price.subtitle.is-4 {
    font-size: 1.1rem;
  }
}